<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scu.notes">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:icon="@drawable/mingri_icon"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/NoteTheme">
        <activity
            android:name="com.scu.notes.AllDiaList"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name="com.scu.notes.AddActivity"
            android:theme="@style/NoteTheme"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.scu.notes.About"></activity>
        <activity android:name="com.scu.notes.ShowRecord"></activity>
        <activity android:name="com.scu.notes.ShowNoteActivity"></activity>
        <activity android:name="com.scu.notes.PaintActivity"></activity>
        <activity android:name="com.scu.notes.ActivityRecord"></activity>
        <activity android:name="com.scu.notes.SearchActivity"></activity>
        <activity android:name="com.scu.notes.DataSearchActivity"></activity>
        <activity
            android:name="com.scu.notes.HandWriteActivity"
            android:windowSoftInputMode="stateHidden"></activity>

        <receiver
            android:name="com.scu.notes.data.CallAlarm"
            android:process=":remote" />

        <activity
            android:name="com.scu.notes.data.AlarmAlert"
            android:label="@string/remindsetting_name">

        </activity>
    </application>

</manifest>
